html body {
    padding: 0;
    margin: 0;
}
body {
    background: linear-gradient(90deg, #26940a, #68b267);
    position: relative;
    height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3);
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.container--flex_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

}

.header {
    padding-top: 50px;
}

.task-board {
    margin-top: 30px;
}

h2 {
    text-align: center;
}

.header-btn {
    background:none;
    border: none;
    outline: none;
    font-size: 24px;
    color: #68b267;
    cursor: pointer;
}

.header-btn:hover {
    color: #26940a;
}

.logo {
    width: 60px;
    height: 60px;
}

.set-task {
    position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #de5406, #de9f09);
    padding: 20px 20px 70px;
}

.data-fields {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.hide-field {
    display: none;
}

.drop-list {
    margin-bottom: 50px;
}

.coment {
    margin-top: 30px;
}

.set-task-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 24px;
    border: none;
}

.set-task-btn:hover {
    background-color: #348a1f;
}

.cross {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: red;
}

.cross:hover {
    color: #0ec307;
}

.back {
    position: absolute;
    z-index: 5;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    top: 0;
}

.card {
    width: 200px;
    background: linear-gradient(45deg, #ad1be2, #db1357, #db3323);
    margin: 10px;
    align-self: flex-start;
    position: absolute;
    border: 2px solid white;
    border-radius: 5px
}

.task-board-descr {
    padding: 150px;
    text-align: center;

}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 400px;
    position: relative;
}

.cross--color {
    color: black;
}

.card-btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}


.card-btn:hover {
    background-color: white;
    color: green;
}

